<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>


  <filter>
    <filter-name>jstack</filter-name>
    <filter-class>com.olie.jstack</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>jstack</filter-name>
    <url-pattern>/*</url-pattern>
    <!-- /*是对所有的文件进行拦截 -->
  </filter-mapping>

</web-app>
